body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-nav {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.App-nav h1 {
  font-size: 1.8em;
}

.App-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.App-nav li {
  margin: 0 15px;
}

.App-nav a {
  color: #61dafb;
  text-decoration: none;
  font-size: 1em;
}

.App-hero {
  padding: 60px 20px;
}

.App-hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.App-hero p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.App-button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
}

.App-section {
  padding: 40px 20px;
  text-align: left;
}

.App-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.App-section p {
  font-size: 1.2em;
  line-height: 1.6;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2em;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-footer h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.App-footer a {
  color: #61dafb;
  text-decoration: none;
}


.gender-equality-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.plots-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.plot-item {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  padding: 10px;
}
